.btn_show_forecast {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  font-size: 0.8rem;
}

.regions_data_grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 100px;
  grid-gap: 1rem;
}
